doctype html
head
  // NAME: SELL PRODUCTS
  //if gte mso 15
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap' rel='stylesheet')
  title Order
  style(type='text/css').
    p {
    margin: 10px 0;
    padding: 0;
    }
    table {
    border-collapse: collapse;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    display: block;
    margin: 0;
    padding: 0;
    }
    img,
    a img {
    border: 0;
    height: auto;
    outline: none;
    text-decoration: none;
    }
    body,
    #bodyTable,
    #bodyCell {
    font-family: 'Nunito', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    }
    .mcnPreviewText {
    display: none !important;
    }
    #outlook a {
    padding: 0;
    }
    img {
    -ms-interpolation-mode: bicubic;
    }
    table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    }
    .ReadMsgBody {
    width: 100%;
    }
    .ExternalClass {
    width: 100%;
    }
    p,
    a,
    li,
    td,
    blockquote {
    mso-line-height-rule: exactly;
    }
    a[href^=tel],
    a[href^=sms] {
    color: inherit;
    cursor: default;
    text-decoration: none;
    }
    p,
    a,
    li,
    td,
    body,
    table,
    blockquote {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass td,
    .ExternalClass div,
    .ExternalClass span,
    .ExternalClass font {
    line-height: 100%;
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    }
    .templateContainer {
    max-width: 600px !important;
    }
    a.mcnButton {
    display: block;
    }
    .mcnImage,
    .mcnRetinaImage {
    vertical-align: bottom;
    }
    .mcnTextContent {
    word-break: break-word;
    }
    .mcnTextContent img {
    height: auto !important;
    }
    .mcnDividerBlock {
    table-layout: fixed !important;
    }
    /*
    @tab Page
    @section Heading 1
    @style heading 1
    */
    h1 {
    /*@editable*/
    color: #222222;
    /*@editable*/
    font-family: 'Nunito', sans-serif;
    /*@editable*/
    font-size: 40px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: center;
    }
    /*
    @tab Page
    @section Heading 2
    @style heading 2
    */
    h2 {
    /*@editable*/
    color: #222222;
    /*@editable*/
    font-family: 'Nunito', sans-serif;
    /*@editable*/
    font-size: 34px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
    }
    /*
    @tab Page
    @section Heading 3
    @style heading 3
    */
    h3 {
    /*@editable*/
    color: #444444;
    /*@editable*/
    font-family: 'Nunito', sans-serif;
    /*@editable*/
    font-size: 22px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
    }
    /*
    @tab Page
    @section Heading 4
    @style heading 4
    */
    h4 {
    /*@editable*/
    color: #949494;
    /*@editable*/
    font-family: 'Nunito', sans-serif;
    /*@editable*/
    font-size: 20px;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
    }
    /*
    @tab Header
    @section Header Container Style
    */
    #templateHeader {
    /*@editable*/
    background-color: #F7F7F7;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 45px;
    }
    /*
    @tab Header
    @section Header Interior Style
    */
    .headerContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
    }
    /*
    @tab Header
    @section Header Text
    */
    .headerContainer .mcnTextContent,
    .headerContainer .mcnTextContent p {
    /*@editable*/
    color: #757575;
    /*@editable*/
    font-family: 'Nunito', sans-serif;
    /*@editable*/
    font-size: 16px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    }
    /*
    @tab Header
    @section Header Link
    */
    .headerContainer .mcnTextContent a,
    .headerContainer .mcnTextContent p a {
    /*@editable*/
    color: #007C89;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
    }
    /*
    @tab Body
    @section Body Container Style
    */
    #templateBody {
    /*@editable*/
    background-color: #FFFFFF;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 36px;
    /*@editable*/
    padding-bottom: 45px;
    }
    /*
    @tab Body
    @section Body Interior Style
    */
    .bodyContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
    }
    /*
    @tab Body
    @section Body Text
    */
    .bodyContainer .mcnTextContent,
    .bodyContainer .mcnTextContent p {
    /*@editable*/
    color: #757575;
    /*@editable*/
    font-family: 'Nunito', sans-serif;
    /*@editable*/
    font-size: 16px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    }
    /*
    @tab Body
    @section Body Link
    */
    .bodyContainer .mcnTextContent a,
    .bodyContainer .mcnTextContent p a {
    /*@editable*/
    color: #007C89;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
    }
    /*
    @tab Footer
    @section Footer Style
    */
    #templateFooter {
    /*@editable*/
    background-color: #333333;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 45px;
    /*@editable*/
    padding-bottom: 63px;
    }
    /*
    @tab Footer
    @section Footer Interior Style
    */
    .footerContainer {
    /*@editable*/
    background-color: transparent;
    /*@editable*/
    background-image: none;
    /*@editable*/
    background-repeat: no-repeat;
    /*@editable*/
    background-position: center;
    /*@editable*/
    background-size: cover;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    padding-top: 0;
    /*@editable*/
    padding-bottom: 0;
    }
    /*
    @tab Footer
    @section Footer Text
    */
    .footerContainer .mcnTextContent,
    .footerContainer .mcnTextContent p {
    /*@editable*/
    color: #FFFFFF;
    /*@editable*/
    font-family: 'Nunito', sans-serif;
    /*@editable*/
    font-size: 12px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: center;
    }
    /*
    @tab Footer
    @section Footer Link
    */
    .footerContainer .mcnTextContent a,
    .footerContainer .mcnTextContent p a {
    /*@editable*/
    color: #FFFFFF;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
    }
    @media only screen and (min-width:768px) {
    .templateContainer {
    width: 600px !important;
    }
    }
    @media only screen and (max-width: 480px) {
    body,
    table,
    td,
    p,
    a,
    li,
    blockquote {
    -webkit-text-size-adjust: none !important;
    }
    }
    @media only screen and (max-width: 480px) {
    body {
    width: 100% !important;
    min-width: 100% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnRetinaImage {
    max-width: 100% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnImage {
    width: 100% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnCartContainer,
    .mcnCaptionTopContent,
    .mcnRecContentContainer,
    .mcnCaptionBottomContent,
    .mcnTextContentContainer,
    .mcnBoxedTextContentContainer,
    .mcnImageGroupContentContainer,
    .mcnCaptionLeftTextContentContainer,
    .mcnCaptionRightTextContentContainer,
    .mcnCaptionLeftImageContentContainer,
    .mcnCaptionRightImageContentContainer,
    .mcnImageCardLeftTextContentContainer,
    .mcnImageCardRightTextContentContainer,
    .mcnImageCardLeftImageContentContainer,
    .mcnImageCardRightImageContentContainer {
    max-width: 100% !important;
    width: 100% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnBoxedTextContentContainer {
    min-width: 100% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnImageGroupContent {
    padding: 9px !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnCaptionLeftContentOuter .mcnTextContent,
    .mcnCaptionRightContentOuter .mcnTextContent {
    padding-top: 9px !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnImageCardTopImageContent,
    .mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,
    .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
    padding-top: 18px !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnImageCardBottomImageContent {
    padding-bottom: 9px !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnImageGroupBlockInner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnImageGroupBlockOuter {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnTextContent,
    .mcnBoxedTextContentColumn {
    padding-right: 18px !important;
    padding-left: 18px !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcnImageCardLeftImageContent,
    .mcnImageCardRightImageContent {
    padding-right: 18px !important;
    padding-bottom: 0 !important;
    padding-left: 18px !important;
    }
    }
    @media only screen and (max-width: 480px) {
    .mcpreview-image-uploader {
    display: none !important;
    width: 100% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    /*
    @tab Mobile Styles
    @section Heading 1
    @tip Make the first-level headings larger in size for better readability on small screens.
    */
    h1 {
    /*@editable*/
    font-size: 30px !important;
    /*@editable*/
    line-height: 125% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    /*
    @tab Mobile Styles
    @section Heading 2
    @tip Make the second-level headings larger in size for better readability on small screens.
    */
    h2 {
    /*@editable*/
    font-size: 26px !important;
    /*@editable*/
    line-height: 125% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    /*
    @tab Mobile Styles
    @section Heading 3
    @tip Make the third-level headings larger in size for better readability on small screens.
    */
    h3 {
    /*@editable*/
    font-size: 20px !important;
    /*@editable*/
    line-height: 150% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    /*
    @tab Mobile Styles
    @section Heading 4
    @tip Make the fourth-level headings larger in size for better readability on small screens.
    */
    h4 {
    /*@editable*/
    font-size: 18px !important;
    /*@editable*/
    line-height: 150% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    /*
    @tab Mobile Styles
    @section Boxed Text
    @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
    */
    .mcnBoxedTextContentContainer .mcnTextContent,
    .mcnBoxedTextContentContainer .mcnTextContent p {
    /*@editable*/
    font-size: 14px !important;
    /*@editable*/
    line-height: 150% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    /*
    @tab Mobile Styles
    @section Header Text
    @tip Make the header text larger in size for better readability on small screens.
    */
    .headerContainer .mcnTextContent,
    .headerContainer .mcnTextContent p {
    /*@editable*/
    font-size: 16px !important;
    /*@editable*/
    line-height: 150% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    /*
    @tab Mobile Styles
    @section Body Text
    @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
    */
    .bodyContainer .mcnTextContent,
    .bodyContainer .mcnTextContent p {
    /*@editable*/
    font-size: 16px !important;
    /*@editable*/
    line-height: 150% !important;
    }
    }
    @media only screen and (max-width: 480px) {
    /*
    @tab Mobile Styles
    @section Footer Text
    @tip Make the footer content text larger in size for better readability on small screens.
    */
    .footerContainer .mcnTextContent,
    .footerContainer .mcnTextContent p {
    /*@editable*/
    font-size: 14px !important;
    /*@editable*/
    line-height: 150% !important;
    }
    }
// *|IF:MC_PREVIEW_TEXT|*
// [if !gte mso 9] <!
span.mcnPreviewText(style='display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;') *|MC_PREVIEW_TEXT|*
// <![endif]
// *|END:IF|*
center
  table#bodyTable(align='center' border='0' cellpadding='0' cellspacing='0' height='100%' width='100%')
    tr
      td#bodyCell(align='center' valign='top')
        // BEGIN TEMPLATE //
        table(border='0' cellpadding='0' cellspacing='0' width='100%')
          tr
            td#templateHeader(align='center' valign='top' data-template-container='' style='background: #ffffff')
              //if (gte mso 9)|(IE)
                table(align='center' border='0' cellspacing='0' cellpadding='0' width='600' style='width:600px;')
                  tr
                    td(align='center' valign='top' width='600' style='width:600px;')
              table.templateContainer(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
                tr
                  td.headerContainer(valign='top')
                    table.mcnImageBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                      tbody.mcnImageBlockOuter
                        tr
                          td.mcnImageBlockInner(valign=' top' style='padding:9px')
                            table.mcnImageContentContainer(align='left' width='100%' border='0' cellpadding='0' cellspacing='0' style='min-width:100%;')
                              tbody
                                tr
              //if (gte mso 9)|(IE)
          tr
            td#templateBody(align='center' valign='top' data-template-container='')
              //if (gte mso 9)|(IE)
                table(align='center' border='0' cellspacing='0' cellpadding='0' width='600' style='width:600px;')
                  tr
                    td(align='center' valign='top' width='600' style='width:600px;')
              table.templateContainer(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
                tr
                  td.bodyContainer(valign='top')
                    table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                      tbody.mcnTextBlockOuter
                        tr
                          td.mcnTextBlockInner(valign='top' style='padding-top:9px;')
                            //if mso
                              table(align='left' border='0' cellspacing='0' cellpadding='0' width='100%' style='width:100%;')
                                tr
                            //if mso
                              td(valign='top' width='600' style='width:600px;')
                            table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%; min-width:100%;' width='100%')
                              tbody
                                tr
                            //if mso
                            //if mso
                    table.mcnTextBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                      tbody.mcnTextBlockOuter
                        tr
                          td.mcnTextBlockInner(valign='top' style='padding-top:9px;')
                            //if mso
                              table(align='left' border='0' cellspacing='0' cellpadding='0' width='100%' style='width:100%;')
                                tr
                            //if mso
                              td(valign='top' width='600' style='width:600px;')
                            table.mcnTextContentContainer(align='left' border='0' cellpadding='0' cellspacing='0' style='max-width:100%; min-width:100%; padding: 3rem 5%' width='100%')
                              tbody
                                tr
                                  h4(style='font-size: 16px; text-align: center;font-weight: 600; color: #535456; padding:1rem 0 1rem 0')
                                    | #{user.clientFirstName} #{user.clientLastName}
                                  td.mcnTextContent(valign='top' style='padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px; border-top: 5px solid #c82b38;')
                                    h1(style='font-size: 32px; text-align: center; color: #000000; font-weight: 700; padding:1rem 0 0 0')
                                      | #{event.pageName}
                                    h4(style='font-size: 16px; text-align: center; color: #535456;font-weight: 400; padding:1rem 0 0 0')
                                      | LOCATION : #{event.eventPayment.location}
                                    h4(style='font-size: 16px; text-align: center; color: #535456;font-weight: 400; padding:1rem 0 0 0')
                                      | FROM - #{event.from} <br/>
                                      | TO - #{event.to}
                                    h4(style='font-size: 16px; text-align: center; color: #535456;font-weight: 400; padding:3rem 0 0 0')
                                      | TICKET SUMMARY
                                    div(style='width: 90%; margin: 0 auto; margin-top: 1rem; padding: 1rem;  background: #f9f9f9;')
                                      div(style='display: flex; align-items: flex-start; justify-content: space-between;')
                                      - for (var i = 0; i < user.eventMetaDetails.ticketType.length; i++) {
                                        div(style='display: flex; align-items: flex-start; justify-content: space-between;')
                                          div
                                            h4(style='font-size: 16px; color: #535456;font-weight: 400; padding:0.8rem 0 0.8rem 0')
                                              | #{user.eventMetaDetails.ticketType[i].type} Ticket
                                          div
                                            h4(style='font-size: 16px; color: #535456;font-weight: 400; padding:0.8rem 0 0.8rem 0')
                                              | #{user.eventMetaDetails.ticketType[i].quantity}
                                      - }
                                      hr
                                      div(style='display: flex; align-items: flex-start; justify-content: space-between;')
                                        p
                                          b Total
                                        p
                                          b NGN #{user.amount}
                                    h4(style='font-size: 16px; text-align: center; color: #535456;font-weight: 400; padding:5rem 0 0 0')
                                      | #{user.clientEmail}
                                    h4(style='font-size: 16px; text-align: center; color: #535456;font-weight: 400; padding:2rem 0; border-bottom: 5px solid #c82b38;')
                                      | #{user.clientPhoneNumber}
                            //if mso
                            //if mso
                    table.mcnCaptionBlock(border='0' cellpadding='0' cellspacing='0' width='100%')
                      tbody.mcnCaptionBlockOuter
                        tr
                      table.mcnDividerBlock(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                        tbody.mcnDividerBlockOuter
                          tr
                            td.mcnDividerBlockInner(style='min-width:100%; padding:18px;')
                              table.mcnDividerContent(border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width:100%;')
                                tbody
                                  tr
                                    td
                                      span
                              //
                                <td class="mcnDividerBlockInner" style="padding: 18px;">
                                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                      table.mcnCaptionBlock(border='0' cellpadding='0' cellspacing='0' width='100%')
                      table(border='0' cellpadding='0' cellspacing='0' width='100%' style='padding: 3rem 3%; margin: 2rem 0 0 0')
                        tbody
                          tr
                            td
                            - var url = event.ticketLink
                              a(href=url)
                                p(style='text-align: center; color: #7890C1;')
                                  | Download
                                  | ticket as PDF
                              p(style='text-align: center; margin:3rem 0 1rem 0; font-weight: 400; font-size: 12px; line-height: 16px; letter-spacing: 0.150769px; color: #474747;')
                                | Ticket powered by Merchro!
                              img(src='https://www.merchro.com/logo-black.svg' alt='Merchro Logo' style='width:7rem; display: block; margin: 0 auto; padding:0 0 3rem 0')
        //if (gte mso 9)|(IE)
        //if (gte mso 9)|(IE)
        // // END TEMPLATE
script(type='text/javascript' src='/K2z2jpXI8uDOE/bxwZHUH/IJeqC6k/ub9YShLc/GRsXSw/JGsz/Il9WBBsB')
